.sign-up h1 {
  font-size: 55px;
  color: rgb(209, 239, 253);
}

.sign-up label {
  color: rgb(56, 53, 56);
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.sign-up-link {
  font-size: 20px;
  color: rgb(209, 239, 253);
  text-align: center;
}